
.image {
    width: 6%;
    position: relative;
    top: -40px;
}
.peopleDetail-image {
    width: 10%;
}
.peopleItem {
    display: inline-block;
}
.peopleList {
    border-bottom: solid 1px lightgray;
}
.renderedSections {
    margin: 5em auto;
}
.gobackButton {
    position: relative;
    top:3em;
}
.input-group {
    margin: 0 auto;
    margin-top: 4em;
}
